body {
	font-family: Arial, sans-serif;
	padding: 0;
	margin: 0;
}
.clearfix:after {
	content:'';
	display: table;
	width:  100%;
	clear: both;
}
div {
	box-sizing: border-box;
}
header {background: url(../img/bg.jpg) no-repeat center top / cover;
height: 600px;
padding-bottom: 160px;
}

.container {
	width: 930px;
	margin: 0 auto;
}
.logo {
	float: left;
	width: 100px;
	height: 100px;
	margin-top: 50px;
}
nav {
	float: right;
	margin-top: 50px;
}
.menu {
	padding: 0px;
	margin: 0px;
	display: block;
}
.menu li {
	float: left;
	display: block;
	margin-right: 40px;
	font-size: 15px;
}
.menu li a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}
.titles1 {
	font-size: 40px;
	color: #fff;
	-webkit-text-stroke: 2px black;
	text-transform: uppercase;
	text-align: center;
	margin-top: 150px;
}
h1 {
	font-size: 60px;
	color: #fff;
	-webkit-text-stroke: 2px black;
	text-transform: uppercase;
	text-align: center;
	margin: 15px;
}
.button {
	background: #fed136;
	color: #484543;
	border-radius: 6px;
	display: block;
	width: 240px;
	padding: 20px 0px;
	margin: 0px auto;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	margin-top: 50px;
}
.title {
padding-top: 115px;
}
.title h2 {
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	margin: 0px;
}
.title p {
	color: #777777;
	text-align: center;
	font-size: 22px;
	margin-top: 5px;
}
.servises {
	margin-top: 50px;
	}
.servises img {
	width: 100px;
	height: 100px;
}
.servis1 {
	width: 270px;
	float: left;
	text-align: center;

}
.servis1 h3 {
	font-size: 20px;
	margin-bottom: 5px;

}
.servis1 p {
	color: #777777;
	font-size: 15px;
	line-height: 1.6em;

}
.servis1:last-child {
	float: right;
}
.servis1:nth-child(2) {
	margin-left: 60px;
}

#servises {
	padding-bottom: 120px;
}
#portfolio {
	background: #f7f7f7f7;
	padding-bottom: 120px;
}
.works img {
	float: left;
	width: 300px;
	height: 370px;

}
.works {
	margin-top: 70px;
}
.works img:nth-child(2) {
	margin-left: 15px; 
}
.works img:last-child {
	float: right;
}